.venv
.env
.dockervenv
__pycache__
.secrets

# Python packaging
*.egg-info/
*.egg
dist/
build/

# SQLite
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
*.db-journal

# Python cache
.pytest_cache/
.ruff_cache/

# Logs
logs/
*.log

# Docker volumes
postgres_data/

scripts/
dividends.csv
trades.csv
transactions.csv

